<?php
/**
 * Scandi_Post24
 *
 * @category    Scandi
 * @package     Scandi_Post24
 * @author      Scandiweb <info@scandiweb.com>
 * @copyright   Copyright (c) 2013 Scandiweb, Ltd (http://scandiweb.com)
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * @see Mage_Checkout_Block_Cart_Shipping
 */
?>
<?php
$methodCode = Scandi_Post24_Model_Carrier_Post24::_SHIPPING_METHOD_CODE;
$helper = Mage::helper('scandi_post24');
$methodName = $helper->getShippingMethodName();
?>
<?php if (($_shippingRateGroups = $this->getEstimateRates())): ?>
    <?php $shippingCodeEnabled = (strpos($this->getAddressShippingMethod(), $methodCode) !== false); ?>
    <input name="estimate_method" type="radio" value="<?php echo $methodCode ?>" id="s_method_<?php echo $methodCode ?>"<?php if ($shippingCodeEnabled): ?> checked="checked"<?php endif; ?> class="radio"/>
    <label for="s_method_<?php echo $methodCode ?>"><?php echo $this->escapeHtml($methodName) ?></label>

    <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
        <?php if ($code == $methodCode && count($_rates)): ?>
            <select name="estimate_method" id="s_method_<?php echo $methodCode ?>_extra_box" <?php if (!$shippingCodeEnabled): ?>style="display: none;"<?php endif; ?>>
                <?php $_rates = $helper->sortRatesByTitle($_rates); ?>
                <?php foreach ($_rates as $_rate): ?>
                    <?php $shippingCodePrice[] = "'" . $_rate->getCode() . "':" . (float)$_rate->getPrice(); ?>
                    <option value="<?php echo $_rate->getCode() ?>" <?php if ($_rate->getCode() == $this->getAddressShippingMethod()): ?>selected="selected"<?php endif; ?>>
                        <?php if (!$_rate->getErrorMessage()): ?>
                            <?php echo $_rate->getMethodTitle(); ?>
                            <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                            <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                            <?php echo $_excl; ?>
                            <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                            <?php endif; ?>
                        <?php endif ?>
                    </option>
                <?php endforeach; ?>
            </select>

            <script type="text/javascript">
                //<![CDATA[
                var post24ExtraBox = $('s_method_<?php echo $methodCode ?>_extra_box');
                $$('#co-shipping-method-form input[type=radio]').each(function (el) {
                    $(el).observe('click', function () {
                        post24ExtraBox.hide();
                        post24ExtraBox.disabled = true;
                    });
                });
                $('s_method_<?php echo $methodCode ?>').observe('click', function () {
                    post24ExtraBox.show();
                    post24ExtraBox.disabled = false;
                })
                //]]>
            </script>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif ?>