<?php
/**
 * Scandi_Post24
 *
 * @category    Scandi
 * @package     Scandi_Post24
 * @author      Scandiweb <info@scandiweb.com>
 * @copyright   Copyright (c) 2013 Scandiweb, Ltd (http://scandiweb.com)
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * @see Mage_Checkout_Block_Onepage_Shipping_Method_Available
 */
?>
<?php
$methodCode = Scandi_Post24_Model_Carrier_Post24::_SHIPPING_METHOD_CODE;
$helper = Mage::helper('scandi_post24');
$methodName = $helper->getShippingMethodName();
?>
<?php $_shippingRateGroups = $this->getShippingRates(); ?>
<?php if ($_shippingRateGroups): ?>
    <?php
    $shippingCodePrice = array();
    $shippingCodeEnabled = (strpos($this->getAddressShippingMethod(), $methodCode) !== false);
    // Get Method Price
    foreach ($_shippingRateGroups as $code => $_rates) {
        if ($code == $methodCode && count($_rates)) {
            $methodPrice = $_rates[0]->getPrice();
        }
    }
    ?>
    <input name="shipping_method" type="radio" value="<?php echo $methodCode ?>" id="s_method_<?php echo $methodCode ?>"<?php if ($shippingCodeEnabled): ?> checked="checked"<?php endif; ?> class="radio validate-one-required-by-name"/>
    <label for="s_method_<?php echo $methodCode ?>">
        <?php $_excl = $this->getShippingPrice($methodPrice, $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
        <?php $_incl = $this->getShippingPrice($methodPrice, true); ?>
        <?php echo $_excl; ?>
        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
            (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
        <?php endif; ?>
    </label>

    <ul>
        <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
            <?php if ($code == $methodCode && count($_rates)): ?>
                <li>
                    <select id="s_method_<?php echo $methodCode ?>_extra_box" <?php if (!$shippingCodeEnabled): ?>style="display: none;"<?php endif; ?> class="validate-select required-entry">
                        <?php $_rates = $helper->sortRatesByTitle($_rates); ?>
                        <?php foreach ($_rates as $_rate): ?>
                            <?php $shippingCodePrice[] = "'" . $_rate->getCode() . "':" . (float)$_rate->getPrice(); ?>
                            <option value="<?php echo $_rate->getCode() ?>" <?php if ($_rate->getCode() == $this->getAddressShippingMethod()): ?>selected="selected"<?php endif; ?>>
                                <?php if (!$_rate->getErrorMessage()): ?>
                                    <?php echo $_rate->getMethodTitle(); ?>
                                    <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                    <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                    <?php // echo $_excl; ?>
                                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                    <?php endif; ?>
                                <?php endif ?>
                            </option>
                        <?php endforeach; ?>
                    </select>

                    <script type="text/javascript">
                        //<![CDATA[
                        function togglePost24MethodsDropdown() {
                            $$('#aw-onestepcheckout-shipping-method input[type=radio][name=shipping_method]').each(function (el) {
                                $(el).observe('click', function () {
                                    if ($(el).id == 's_method_<?php echo $methodCode ?>') {
                                        post24PostExtraBox.show();
                                        post24PostExtraBox.disabled = false;
                                        var input = $('s_method_<?php echo $methodCode ?>');
                                        input.value = post24PostExtraBox.value;
                                        input.click();
                                    } else {
                                        post24PostExtraBox.hide();
                                        post24PostExtraBox.disabled = true;
                                    }
                                });
                            });
                        }
                        togglePost24MethodsDropdown();

                        var post24PostExtraBox = $('s_method_<?php echo $methodCode ?>_extra_box');

                        post24PostExtraBox.observe('change', function() {
                            var select = $(this),
                                input = $('s_method_<?php echo $methodCode ?>');
                            input.value = select.value;
                            input.click();
                        });
                        document.observe("dom:loaded", function() {
                            $('s_method_<?php echo $methodCode ?>').value = post24PostExtraBox[post24PostExtraBox.selectedIndex].value;
                            togglePost24MethodsDropdown();
                        });
                        //]]>
                    </script>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
<?php endif ?>